* {
  padding: 0;
  margin: 0;
  font-family: cursive;
  font-size: 16px;
}

body {
  position: relative;
}

/* ------------------------The Navigation Bar -------------------------------- */
header {
  padding: 1% 10%;
  color: #000;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border: 2px solid #000;
  padding: 1%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10%;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  margin-right: 6px;
}

.borderRight {
  border-right: 2px solid gray;
}

nav ul li a:hover {
  color: #a8a4a4;
}

nav ul li a:active {
  color: blue;
}

.date {
  text-align: end;
  padding-right: 10%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h3 {
  font-size: 28px;
  margin-bottom: 40px;
}

hr {
  width: 80%;
  margin-left: 0;
}

.bookList {
  text-align: center;
  width: 80%;
  padding: 1% 10%;
}

.big-lists-container {
  border: 2px solid black;
}

.book-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.listText {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}

.book-lists:nth-child(even) {
  background-color: gray;
}

.addBook {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addBook form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.addBook form input {
  width: 80%;
  padding: 1%;
}

.lastInput {
  margin-bottom: 30px;
}

.addBtn {
  align-self: flex-end;
  padding: 1% 3%;
  margin-right: 10%;
}

.addBtn:hover {
  color: #fff;
  background-color: gray;
}

.contact {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.address-div {
  padding: 0;
}

footer {
  width: 80%;
  border: 2px solid #000;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  margin-bottom: 10px;
}

footer h3 {
  padding: 1%;
}

.hide {
  display: none;
}
